<div class="d  mt-5">
  <div class="m-auto col-11 col-md-6 p-4 rounded-2 bg-body-secondary">
    <h2 class="text-center my-3">Sign In Page</h2>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input
        type="name"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Your Name"
      />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Remember Me
      </label>
    </div>

    <div class="bt">
      <button class="py-2 px-4 btn btn-success mt-4">Submit</button>
    </div>

    <div class="bb text-center mt-5">
      <button class="py-2 px-4 btn btn-danger mt-4" (click)="bckHome()">
        Back To Home Page
      </button>
    </div>
  </div>
</div>
