<div class="card">
  <img
    [src]="inputCardToChild.images[0]"
    class="card-img-top"
    alt="..."
    height="250px"
  />
  <div class="card-body">
    <h5 class="card-title">{{ inputCardToChild.title }}</h5>
    <p class="card-text">{{ inputCardToChild.description.slice(0,25)}}. . .</p>
    <h6 class="card-text">Price :  {{ inputCardToChild.price | currency }} </h6>
    <!-- <h6 [class]="inputCardToChild.stock | 'text-danger' |'text-info' ">Stock :  {{ inputCardToChild.stock  }} </h6> -->
    <h6 [class]="inputCardToChild.stock > 0 ?'text-primary ':'text-danger '">{{inputCardToChild.stock}} </h6>
    <button class="btn btn-primary" (click)="getProductInfo(inputCardToChild.id)">Details</button>
  </div>
</div>
