<div class="container-fluid">
  <div class="row">
    <!-- <div class="ofsc">

     
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
      >
        Button with data-bs-target
      </button>

      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            Offcanvas
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements
            you have chosen. Like, text, images, lists, etc.
          </div>
          <div class="dropdown mt-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
            >
              Dropdown button
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-3  ulAsid  bg-secondary mt-md-0 mt-3">
      <ul class="d-md-block d-none  bg-secondary bg-opacity-75  mb-0">
        <li>
          <a routerLink="fragrances" routerLinkActive="active">Fragrances</a>
        </li>
        <li>
          <a routerLink="groceries" routerLinkActive="active">Groceries</a>
        </li>
        <li>
          <a routerLink="home-decoration" routerLinkActive="active">
            Home-Decoration
          </a>
        </li>
        <li><a routerLink="laptops" routerLinkActive="active">Laptops</a></li>
        <li><a routerLink="skincare" routerLinkActive="active">Skincare</a></li>
        <li>
          <a routerLink="smartphones" routerLinkActive="active">Smartphones</a>
        </li>
        <li class="mt-4">
          <a routerLink="/home" class="text-warning">HomePage</a>
        </li>
        <!-- <li>
          <a [routerLink]="['/home']" class="text-success ">Back To All Products</a>
        </li> -->
      </ul>

      <div class="d-md-none d-block dropdown  w-100 ">
        <a
          class="btn btn-secondary dropdown-toggle w-100 "
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Category List
        </a>

    <ul  class="dropdown-menu w-100 bg-secondary bg-opacity-75 px-3">
      <li>
        <a routerLink="fragrances" routerLinkActive="active">Fragrances</a>
      </li>
      <li>
        <a routerLink="groceries" routerLinkActive="active">Groceries</a>
      </li>
      <li>
        <a routerLink="home-decoration" routerLinkActive="active"> </a>
      </li>
      <li>
        <a routerLink="laptops" routerLinkActive="active">Laptops</a>
      </li>
      <li>
        <a routerLink="skincare" routerLinkActive="active">Skincare</a>
      </li>
      <li>
        <a routerLink="smartphones" routerLinkActive="active">Smartphones</a>
      </li>
      <li class="mt-4">
        <a routerLink="/home" class="text-warning">HomePage</a>
      </li>
      <!-- <li>
        <a [routerLink]="['/home']" class="text-success"
          >Back To All Products</a
        >
      </li> -->
    </ul>
      </div>

      <!--       
      <ul class="pt-5 ulAsid d-md-non d-block">
        <li>
          <a routerLink="fragrances" routerLinkActive="active">Fragrances</a>
        </li>
        <li>
          <a routerLink="groceries" routerLinkActive="active">Groceries</a>
        </li>
        <li>
          <a routerLink="home-decoration" routerLinkActive="active">
            Home-Decoration
          </a>
        </li>
        <li><a routerLink="laptops" routerLinkActive="active">Laptops</a></li>
        <li><a routerLink="skincare" routerLinkActive="active">Skincare</a></li>
        <li>
          <a routerLink="smartphones" routerLinkActive="active">Smartphones</a>
        </li>
        <li class="mt-4">
          <a routerLink="/home" class="text-warning ">HomePage</a>
        </li>
        <li>
          <a [routerLink]="['/home']" class="text-success ">Back To All Products</a>
        </li>
      </ul> -->
    </div>

    <div class="col-12 col-md-9 pt-3">
      <h1 class="text-center mb-4">Category Part</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
