<div class="d mt-5 pb-5">
  <div class="m-auto  col-md-6 p-4 rounded-2 bg-body-secondary">
    <h2 class="text-center my-3">Sign In Page</h2>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >First Name</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Your First Name"
      />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Your Last Name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Mobile</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Your Mobile"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Gender</label>
      <div class="gen d-flex align-items-center p-2 bg-white rounded-2">
        <div class="form-check  me-3">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              checked
            />
            <label class="form-check-label" for="flexCheckDefault">
              Male
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              
            />
            <label class="form-check-label" for="flexCheckChecked">
              Female
            </label>
          </div>
      </div>
      <!-- <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Your Last Name"
        /> -->
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Remember Me
      </label>
    </div>

    <div class="bt">
      <button class="py-2 px-4 btn btn-success mt-4">Submit</button>
    </div>

    <div class="bb text-center mt-5">
      <button class="py-2 px-4 btn btn-danger mt-4" (click)="bckHome()">
        Back To Home Page
      </button>
    </div>
  </div>
</div>
